<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <script src="/static/js/jquery-3.4.1.js"></script>
</head>
<body>
    <span id="errMsg"></span>
    <form action="/register" method="post">
        <p>用户名： <input type="text" name="username" placeholder="请输入用户名" id="username"></p>
        <p>密码： <input type="text" name="password" placeholder="请输入密码"></p>
        <input type="submit" value="注册" >

    </form>
    
</body>
</html>