<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票项目</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <script src=""></script>
</head>
<body>
<div id="content">
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>vote1</td>
            <td> <a href="/vote?voteid=1&votename=vote1">投票</a> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>vote2</td>
            <td> <a href="/vote?voteid=2&votename=vote2">投票</a> </td>
        </tr>
        <tr>
            <td>3</td>
            <td>vote3</td>
            <td> <a href="/vote?voteid=3&votename=vote3">投票</a> </td>
        </tr>
        <tr>
            <td>4</td>
            <td>vote4</td>
            <td> <a href="/vote?voteid=4&votename=vote4">投票</a> </td>
        </tr>
        <tr>
            <td>5</td>
            <td>vote5</td>
            <td> <a href="/vote?voteid=5&votename=vote5">投票</a> </td>
        </tr>
        <tr>
            <td>6</td>
            <td>vote6</td>
            <td> <a href="/vote?voteid=6&votename=vote6">投票</a> </td>
        </tr>
        <tr>
            <td>7</td>
            <td>vote7</td>
            <td> <a href="/vote?voteid=7&votename=vote7">投票</a> </td>
        </tr>
        <tr>
            <td>8</td>
            <td>vote8</td>
            <td> <a href="/vote?voteid=8&votename=vote8">投票</a> </td>
        </tr>
        <tr>
            <td>9</td>
            <td>vote9</td>
            <td> <a href="/vote?voteid=9&votename=vote9">投票</a> </td>
        </tr>
        <tr>
            <td>10</td>
            <td>vote10</td>
            <td> <a href="/vote?voteid=10&votename=vote10">投票</a> </td>
        </tr>
    </table>
</div>
</body>
</html>